APP_NAME="Filament Template"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8020
APP_VERSION=1.0.0
APP_ID=231
APP_KODE=TEMPUI
APP_USE_ROLE_ROUTE=false
APP_YEAR=2026
DEBUGBAR_ENABLED=false

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

# Kalau menggunakan extension php_redis
REDIS_CLIENT=phpredis

#Jika menggunakan predis (composer require predis/predis:^2.0)
# REDIS_CLIENT=predis

#AWS_ENDPOINT digunakan untuk alamat S3 sedangkan AWS_URL digunakan untuk ketika Storage::disk('s3')->url($path);
AWS_ENDPOINT=
AWS_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=true

# MAIL_MAILER=petra_notifikasi
# MAIL_HOST=https://notifikasi.petra.ac.id
# MAIL_USERNAME=dev-ppsi@petra.ac.id
# MAIL_PASSWORD=

# MAILPIT
# MAIL_MAILER=smtp
MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AUTH_SERVICE_URL=https://login-flaxeon.ppsi.petra.ac.id
GATE_SERVICE_URL=https://gate-flaxeon.ppsi.petra.ac.id

SSO_COOKIE=PETRA_FLAXEON
SSO_DOMAIN=petra.ac.id

# ================ Database Configuration =================
# Format URL
# driver://username:password@host:port/database?options
# postgresql://neosim:password@127.0.0.1/neosim

DB_CONNECTION=pgsql
DB_URL=
DB_PORT_READ=
DB_SCHEMA=template

GATE_DB_URL=
GATE_DB_PORT_READ=
NEOSIM_DB_URL=
NEOSIM_DB_PORT_READ=
AKAD_DB_URL=
SIP_DB_URL=
MUTU_DB_URL=
BAK_DB_URL=

OCTANE_SERVER=frankenphp
DISCLAIMER_SERVICE_URL=https://task.petra.ac.id
IP_WHITELIST=192.168.200.*/69
KUBERNETES_CIDR=""
